.toolBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  margin: 20px auto;
  padding: 20px auto;
}

.left {
  justify-self: left;
  align-self: left;
}

.right {
  justify-self: rigt;
  align-self: right;
}
