.card {
  width: 300px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 5px;
}

.name {
  font-family: sans-serif;
  font-weight: 700;
  font-size: x-large;
  margin: 10px 0;
  padding-left: 10px;
}

.description {
  font-family: sans-serif;
  text-overflow: ellipsis;
  max-width: 75ch;
  width: 100%;
  margin: 10px;
}

.created {
  font-family: sans-serif;
  padding: 10px;
}

.category {
  font-family: sans-serif;
  padding: 10px;
}

.link {
  font-family: sans-serif;
  color: #44cc67;
  background: #f9f9f9;
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
}
